extends layout

block content
	header.main.error404
		img(itemprop="image" src='/img/jascha.ehrenreich.png' alt="Jascha Ehrenreich")
		h2 Four Oh Four. Not found.
		div.content This should not have happened.
