extends layout

block content
	div#imageGallery
		img#image-1(src='/img/frontpage/person_name_by_oliver_jiszda.png')
		img#image-2(src='/img/frontpage/anna_aichinger_by_oliver_jiszda.png')
		img#image-3(src='/img/frontpage/free_topoke_by_oliver_jiszda.png')
		img#image-4(src='/img/frontpage/free_topoke_by_oliver_jiszda.png')
		img#image-5(src='/img/frontpage/free_topoke_by_oliver_jiszda.png')

block scripts
	script(src='/js/main.js')
