doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title minotme.com
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
    link(rel='stylesheet', href='/css/main.css')

    meta(property='og:title' content='minotme.com')
    meta(name='description' property='og:description' content='minotme.com')
    block head

  block body
    body(class='nojs page-' + page)
      #wrapper
        header.main
          block header
            nav#menu
              ul
                li
                  a(href='/about' class=page === "about" ? "active" : "") minotme
                li
                  a(href='/' class=page === "index" ? "active" : "") work
                li
                  a(href='/contact' class=page === "contact" ? "active" : "") contact
                li
                  a(href='http://minotme.tumblr.com' target='utopia') archive

        block content
          div.content empty body content

        script#load-js(src='/js/load.js')
        block scripts
