doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Oliver Jiszda Photography
    meta(name='viewport' content='width=device-width')
    link(rel='stylesheet', href='/css/main.css')

    meta(property='og:title' content='Oliver Jiszda Photography')
    meta(name='description' property='og:description' content='Oliver Jiszda Photography')

  block body
    body.nojs
      #wrapper
        header.main
          block header
            nav#menu
              ul
                li
                  a(href='/about') oliver jiszda
                li
                  a(href='/') work
                li
                  a(href='http://jiszda.tumblr.com' target='utopia') news
                li
                  a(href='/contact') contact

        block content
          div.content empty body content

        block scripts
          script#load-js(src='/js/load.js')
