button_bg_color = #333
button_font_color = #666
button_bg_color_dark = #eee
button_font_color_dark = #aaa

#extra-menu-container
  bottom 25px
  display block
  position absolute
  width 100%
  z-index 2
  text-align center

  ul
    margin 0 auto
    position relative
    display inline-block

.btn-container
  float left
  height 100%
  margin 0 3px 0
  width 70px
  z-index 1

  a
    background-color button_bg_color_dark
    color button_font_color_dark
    display block
    font-size 0.7em
    height 100%
    margin 0
    padding .6em 0
    transition(.5s)
    width 100%

    &:hover
      background-color button_bg_color
      color button_font_color

body.dark
  .btn-container
    a
      background-color button_bg_color
      color button_font_color

      &:hover
        background-color button_bg_color_dark
        color button_font_color_dark
