
#gallery-list
  li
    &:first-child
      &:nth-last-child(1)
        width 100%

      &:nth-last-child(2),
      &:nth-last-child(2) ~ li
        width 45%

      &:nth-last-child(3),
      &:nth-last-child(3) ~ li
        width 30%

      &:nth-last-child(4),
      &:nth-last-child(4) ~ li
        width 23%
      
      &:nth-last-child(5),
      &:nth-last-child(5) ~ li
        width 30%
      
      &:nth-last-child(6),
      &:nth-last-child(6) ~ li
        width 30%

      &:nth-last-child(7),
      &:nth-last-child(7) ~ li
        width 23%
        
