#imageGallery
  ul
    display inline-block
    margin 0 5%
    padding 0 0 2em

  li
    float left
    margin 0 .5% 1%
    width 19%

  img
    max-width 100%
    max-height 100%
    &:hover
      opacity .8
    &.active
      opacity .5

#big-image-container
  height 100%
  left 0
  position fixed
  top 0
  vertical-align middle
  width 100%
  opacity 1
  transition opacity .5s

  img
    max-height 100%
    max-width 100%
  
  &.fadeout
    opacity 0

body.big-image
  #content 
    opacity .5

@media all and (max-width 555px)
  #imageGallery
    li
      width 24%

@media all and (max-width 400px)
  #imageGallery
    margin 0 2% 50px

    li
      margin 0 1% 2%
      width 48%

@media all and (orientation landscape) and (max-height 400px)
  #imageGallery
    margin 2% 2% 0 2%

@media all and (min-width 1300px)
  #imageGallery
    li
      width 15.667%
