@import mixins
@import reset
@import font
@import icomoon
@import nojs

body_font_color = #555
body_bg_color = #fefefe
a_color = #7c7c7c
a_color_hover = #555

body_font_color_night = #aaa
body_bg_color_night = #111
a_color_night = #aaa
a_color_hover_night = #fefefe

html, body
  height 100%
  display block

body
  background-color body_bg_color
  color body_font_color
  margin 0 auto
  overflow hidden
  text-align center
  width 100%
  position absolute
  transition(background-color 0.5s)
  font-size 14px
  user-select none

  #content
    display inline-block
    transition(color 0.5s)

    &.work,
    &.index
      line-height 0
    &.about
      max-width 900px

  &.night
    background-color body_bg_color_night
    color body_font_color_night

    a
      color a_color_night

      &:hover
        color a_color_hover_night
    
    #btn-left, #btn-right
      color darken(a_color, 30%)
      &:hover
        color lighten(a_color, 70%)

  &.js
    &.fullscreen
      header.main
        margin -1.5em 0 0

      div#gallery
        img
          margin 3% 0 0
        h2
          display none

    header.main.animated
      transition(margin 0.2s)

form
  input, 
  textarea
    transition(0.5s)

header.main
  left 0
  width 100%
  margin 3% 0 1.5%

  nav#menu
    width 100%

    ul
      li
        display inline
        margin 0 0.5em

a
  color a_color
  cursor pointer
  text-decoration none  
  transition(color 0.5s)

  &:hover
    color a_color_hover

#content
  display inline-block
  max-height 90%
  min-width 95%
  position relative
  width auto

noscript#image-gallery, div#gallery
  display inline-block
  max-height 85%
  width 100%

  img
    box-sizing border-box
    max-width 100%
    width auto
    transition(all 0.5s)

#extra-menu-container
  position absolute
  left 1em
  top 1em
  z-index 1

  li
    display inline

#gallery-container
  li
    z-index 0
    opacity 0
    transition(opacity 1s)
    position absolute
    width 100%

    &.displayed
      z-index 1
      opacity 1
      transition(opacity 1.2s linear 0.8s)
      h2
        opacity 1
        user-select initial

    h2
      opacity 0
      height 1.2em
      margin 2% 0 0
      font-size .8em
      letter-spacing 0.08em
      

form
  max-width 800px
  margin 0 auto
  input, textarea
    color body_font_color
    background-color darken(body_bg_color, 5%)
    border 2px solid lighten(body_bg_color_night, 90%)
    border-radius 2px
    display block
    width 100%
    margin 1em 0
    padding 1em
    box-sizing border-box

  textarea
    height 150px

body.night
  form
    input, textarea
      color body_font_color_night
      background-color lighten(body_bg_color_night, 5%)
      border 2px solid darken(body_bg_color, 90%)

.error
  color #f00

body header.main nav#menu li#leftright-container
  width 3em
  margin 0 0.5em 0 3em
  display inline-block
  vertical-align middle

  #btn-left, #btn-right
    color lighten(a_color, 30%)
    &:hover
      color darken(a_color, 70%)

  #btn-left
    float left
  #btn-right
    float right

@media (max-width: 450px)
  body
    font-size 14px

    header.main
      nav#menu
        ul
          li
            margin 1.2em 1em 0

            &#leftright-container
              display none
              margin 1em 0 0
              font-size 1.2em


    #extra-menu-container
      bottom .5em
      font-size 1.2em
      left .5em
      position fixed
      top auto

      li
        display inline-block
        /*&#daynight-container
          position fixed
          bottom 10px
        */

@media (max-width: 300px)
  body
    &.js.fullscreen
      header.main
        margin -9em 0 0

    header.main
      nav#menu
        ul
          li
            display block
            margin 1.2em 0

.triangle
  border-color transparent
  border-style solid 
  border-width 0.5em
  height 0
  width 0
  &.down
    border-bottom-width 0
    border-top-color body_font_color
  &.left 
    border-left-width 0
    border-right-color body_font_color
  &.right
    border-left-color body_font_color
    border-right-width 0
  &.up
    border-bottom-color body_font_color
    border-top-width 0
    
body.night
  .triangle
    &.down
      border-top-color body_bg_color
    &.left 
      border-right-color body_bg_color
    &.right
      border-left-color body_bg_color
    &.up
      border-bottom-color body_bg_color

#fullscreen-container
  left 0.5em
  position absolute
  top 0.5em

  a
    position absolute

#daynight-container
  bottom 1.5em
  left 0.5em
  position absolute
  top auto
  
  a
    position absolute
    background-color body_font_color
    padding 0.5em
    border-radius 0.5em

body.night
  #daynight-container
    a
      background-color body_bg_color
