body_font_color = #222
body_bg_color = #fefefe
a_color = #444
a_color_hover = #111

body_font_color_dark = #666
body_bg_color_dark = #222
a_color_dark = #777
a_color_hover_dark = #fefefe

/* nib gives us reset.css */
global-reset()

/* sanity */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
  box-sizing border-box

html
  display block

body
  background-color body_bg_color
  color body_font_color
  font-family avenir, arial, sans-serif
  font-size 13px
  line-height 1.3em

  a
    color a_color

    &:hover
      color a_color_hover

  #extra-menu-container
    background-color body_bg_color

  &.dark
    background-color body_bg_color_dark
    color body_font_color_dark

    a
      color a_color_dark

      &:hover
        color a_color_hover_dark

    #extra-menu-container
      background-color body_bg_color_dark

header.main
  margin 40px 0
  text-align center

  nav
    ul
      li
        display inline
        margin 0 1em

#content
  margin 0 5%
  width 90%
  position relative

  noscript#gallery
    display block
    text-align center

    img
      margin 0 0 2em

  &.slide
    margin 0
    width 100%

  &.contact
    width 250px
    margin 0 auto
    
    .phone a
      margin 0 0 0 1.2em
    .mail a
      margin 0 0 0 2.2em

a
  text-decoration none

  &.active
    text-decoration underline

img
  max-height 100%
  max-width 100%

.image-gallery
  ul
    li
      width 100%
      padding 0 5%
      text-align center

  &.multi
    ul
      li
        img
          float left
          margin 0 3% 3% 0
          max-height 100%
          max-width 100%
          width 46%

  &.single
    ul
      li
        opacity 0
        position absolute
        z-index 0

        &.active
          opacity 1
          z-index 1

        img
          clear both
          height auto
          margin 0
          width auto

.parent.container
  display inline-block
  clear both
  margin 2em 0 0
  
  &:first-child
    margin 0

  .container
    &.float
      &.image
        width 35%

        &.left
          float left
          margin 0 2em 0 0
        &.right
          float right
          margin 0 0 0 2em

      &.text
        width 60%
        
        &.right
          float right
        &.left
          float left

ul
  &.inline-block
    li
      display inline-block
      margin 0 1em 0 0



body.js
  .image-gallery
    ul
      li
        transition opacity .5s

        img
          transition max-height .5s, max-width .5s, margin .5s
  &.fullscreen
    header.main
      opacity 0
      height 0
      font-size 0
      margin 0
      padding 0
    .image-gallery
      ul
        li
          footer
            height 0
            font-size 0
            margin 0
            padding 0


@media all and (orientation portrait) and (max-width 480px)
  .parent.container
    .text.container
      margin 3em 0 0

      &:first-child
        margin 0

    .container
      &.float
        &.image,
        &.text
          width 100%

          &.left,
          &.right
            float none
            margin 3em 0 0
            
            &:first-child
              margin 0 0 3em

@media all and (orientation landscape) and (max-height 400px)
  header.main
      opacity 0
      height 0
      font-size 0
      margin 0
      padding 0

    .image-gallery
      ul
        li
          margin 3% 0 0

          footer
            height 0
            font-size 0
            margin 0
            padding 0

  footer.main
    opacity 0
    height 0
    font-size 0
    margin 0
    padding 0
