body_font_color = #222
body_bg_color = #fefefe
a_color = #444
a_color_hover = #111

body_font_color_dark = #777
body_bg_color_dark = #222
a_color_dark = #666
a_color_hover_dark = #fefefe

@import mixins
@import reset
@import icomoon
@import font
@import nojs
@import extraMenu
/*
@import triangle
*/

html, body
  height 100%
  display block

body
  background-color body_bg_color
  color body_font_color
  margin 0 auto
  overflow hidden
  text-align center
  width 100%
  position absolute
  transition(background-color .5s)
  font-size 12px
  user-select none

  #content
    display block
    transition(color .5s)

    &.work,
    &.index
      line-height 0

    &.about,
    &.contact
      max-width 900px
      margin 2em auto 0
      width 90%
      min-width inherit
      text-align left

      img
        max-width 50%
        float left
        margin 0 1em 0 0

      h2
        margin 0 0 1em

  &.dark
    background-color body_bg_color_dark
    color body_font_color_dark

    a
      color a_color_dark

      &:hover
        color a_color_hover_dark
    

  &.js
    &.fullscreen
      header.main
        margin -3.5em 0 0
        position absolute

      div#gallery
        margin 1em 0 0
        height 100%
        
        img
          margin-top 25px
        h2
          display none

    header.main.animated
      transition(margin .2s)

form
  input, 
  textarea
    transition(.5s)
    border 0 none

header.main
  left 0
  margin 33px 0 33px
  position relative
  width 100%

  nav#menu
    width 100%

    ul
      li
        display inline
        margin 0 .5em

a
  color a_color
  cursor pointer
  text-decoration none  
  transition(color .5s)

  &:hover
    color a_color_hover

#content
  display inline-block
  max-height 90%
  min-width 95%
  position relative
  width auto

noscript#image-gallery, div#gallery
  display inline-block
  max-height 85%
  width 100%

  img
    box-sizing border-box
    max-width 90%
    width auto
/*
    transition(all .5s)
*/

#gallery-container
  li
    left 0
    opacity 0
    position absolute
    top 0
    transition(opacity 1s)
    width 100%
    z-index 0

    &.displayed
      opacity 1
      /* transition(opacity 1.2s linear .8s) */
      z-index 1

      h2
        opacity 1
        user-select initial
    h2
      font-size .7em
      height 1.2em
      letter-spacing .02em
      margin 22px 0 0
      opacity 0
      position relative
      width 100%

form
  max-width 800px
  margin 0 auto
  input, textarea
    color body_font_color
    background-color darken(body_bg_color, 5%)
    border-radius 2px
    display block
    width 100%
    margin 1em 0
    padding 1em
    box-sizing border-box

  textarea
    height 150px

body.dark
  form
    input, textarea
      color body_font_color_dark
      background-color lighten(body_bg_color_dark, 5%)

.error
  color #f00

@media (max-width: 350px)
  #extra-menu-container
    .btn-container.fullscreen
      display none


@media all and (orientation:landscape) and (max-height: 350px)
  header.main
    display none
  #extra-menu-container
    display none

  #gallery
    img
      margin 10px
    
    h2
      display none
