extends ../layout

block content
  div#content.contact
    div Oliver Jiszda
    br
    p Plankengasse 4
    p 1010 Wien
    p Austria
    br
    p.phone
      | phone 
      a(href="+4315124898") +43 1 512 48 98
    p.mail
      | mail 
      a(href="jiszda@gmail.com") jiszda@gmail.com
