extends ../layout

block content
  div#content.contact
    div JISZDA & PARTNER
    br
    p Plankengasse 4
    p 1010 Wien
    p Austria
    br
    p.phone
      | phone 
      span +4315124898
    p.mail
      | mail 
      a(href="jiszda@gmail.com") jiszda@gmail.com
