extends ../layout

block content
  div#content.about
    div.parent.container
      div.text.container.float.right
        h2 About Headline Text
        div Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with 

      div.image.container.float.left
        img(src='/img/about/oliver-jiszda-flying.jpg' alt='Oliver Jiszda About Image')
        h2 Lorem Ipsum is simply dummy text

    div.parent.container
      div.image.container.float.left
        img(src='/img/about/oliver-jiszda-walking.jpg' alt='Oliver Jiszda About Image')
        h2 Lorem Ipsum is simply dummy text
      
      div.text.container.float.right
        h2 clients:
        div
          ul.inline-block
            li aclu
            li adidas
            li aktion mensch
            li andritz
            li bank austria
            li bmg records
            li campari
            li coca cola
            li die angewandte
            li die boje
            li emi music
            li g-stone recordings
            li hospiz wien
            li interscope records
            li meyr melnhof
            li mobilkom austria
            li mq wien
            li nike
            li oebb
            li omv
            li pepsi cola
            li priority records
            li red bull
            li rewe group
            li schöller bank
            li sony music
            li spängler bank
            li stiftung folteropfer deutschland
            li stihl
            li stroh rum
            li sun micro systems
            li t-mobile
            li telekom austria
            li thanda - private game reserve
            li ubs bank
            li uefa
            li universal records
            li volkswagen
            li wiener festwochen
            li wüstenrot
            li yxaiio
