extends ../layout

block content
  div#content.index
    noscript#image-gallery
      img#image1(src='/img/portfolio/venice.jpg' title='venice, beach')
      img#image2(src='/img/portfolio/oj-vienna.jpg' title='oj, vienna')
      img#image3(src='/img/portfolio/hallstatt.jpg' title='hallstatt, austria')
      img#image4(src='/img/portfolio/minotme-vienna.jpg' title='minotme, vienna')
