extends ../layout

block content
  div#content.work
    noscript#image-gallery
    img#image-1(src='/img/portfolio/image1.jpg' title='image 1')
    img#image-2(src='/img/portfolio/image2.jpg' title='image 2')
    img#image-3(src='/img/portfolio/image3.jpg' title='image 3')
    img#image-4(src='/img/portfolio/image4.jpg' title='image 4')
    img#image-5(src='/img/portfolio/image5.jpg' title='image 5')
    img#image-6(src='/img/portfolio/image6.jpg' title='image 6')
    img#image-7(src='/img/portfolio/image7.jpg' title='image 7')
    img#image-8(src='/img/portfolio/image8.jpg' title='image 8')
    img#image-9(src='/img/portfolio/image9.jpg' title='image 9')
    img#image-10(src='/img/portfolio/image10.jpg' title='image 10')
